body {
    margin: 28px;
    font-family: "Helvetica Neue", Verdana, sans-serif;
    padding-top: 35px;
}

.print {
    display:none;
}

div.header {
    border-bottom:solid 1px;
}
.striped {
    border-top: 1px solid rgb(210,210,210);
}

#chilli {
    width: auto;
    height: 20%;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.popup-center {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 100000;
    display: none;
}

.popup-center p {
    font-size: 3em;
}

#lockscreen {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(255,255,255,0.7);
    opacity: 0;
    display: none;
    text-align: center;
}

#busylock {
    width: auto;
    height: 28px;
    position: absolute;
    left: 0;
    margin: 5px 20px;
    display: none;
}

#help-icon {
    margin: 15px;
    width: 20px;
    height: 20px;
}

.navbar-nav > li > a.image-link {
    padding: 0px;
    margin: 0px;    
}

div.illedit {
    position:relative;
    max-height: 4em;
    display: block;
    overflow: hidden;
}

div.illedit.open {
    position:relative;
    max-height:none;
}

div.illedit:hover{
    /* background:#ffd800;
    margin-left: -15px;
    margin-right: -15px; */
    background: #fcfbe3; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfbe3 0%, #ffffff 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbe3), color-stop(99%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfbe3 0%,#ffffff 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfbe3 0%,#ffffff 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfbe3 0%,#ffffff 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfbe3 0%,#ffffff 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbe3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.order-list {
    margin: 20px 20px 20px 16px;
}

.order-list > .row > div {
    padding: 8px;
}

.anonymization-spacer {
    height: 12rem;
}

.anonymization-header {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: khaki;
}

.anonymization-list {
    margin: 20px 20px 20px 16px;
}

.anonymization-list > .row > div {
    padding: 8px;
}

.patron-list > .row {
    border-style: solid;
    border-color: rgb(190,190,190);
    border-width: 1px;
    margin: 2px 0px;
}

.patron-list-header {
    margin: 2px 0px;
}

.patron-list > .row > div {
    padding: 8px;
}

.patron-list-header > div {
    padding: 0px 8px;
}

.patron-list > .selected-row {
    background-color: #5cb85c;
}

.wide {
    width: 5em;
}

.debug-message {
    font-size: 0.7em;
    color: rgb(90,90,90);
    border-top: 1px solid rgb(190,190,190);
    padding-top: 8px;
}

/* Active and open OrderItem in list */
.editmode {
    background-color: #dddddd;
    /* padding: 0px;
    margin: 0px;
    border: 2px solid rgb(255, 216, 0);
    background-color: #f6f085; */
}
.order-details {
    padding: 8px;
    margin: 0px;
}

/* Available buttons for actions in edit mode */
.action-buttons {
    margin-top: 8px;
    /*border-top: 1px solid #cac8d8;*/
    padding-top: 8px;
    padding-bottom: 12px;
}

/* Log list stuff */
.log-list {
    font-size: 12px;
    margin-bottom: 12px;
    line-height: 170%;
}
.log-list .log-createdate {
    font-weight: bold;
}
.log-list .log-message {
    white-space: pre-line;
}
.log-list .collapsed {
    height: 1.5em;
    overflow: hidden;
}

.log-item-header {
    font-weight: bold;
    font-size: 14px;
}

.log-item-container {
    padding: 10px;
}

.log-item-container.even {
    background-color: #eaeaea;
}

.log-item-container.odd {
    background-color: #fefefe;
}


span.current {
    font-weight: bold;
    color: rgb(12, 83, 96);
}

div.action-header {
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
}

div.sub-action-header {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
}

/* Locking items */
.locked, .locked:hover {
    /*background-color: #c22;*/
    background-color: rgba(255, 0, 0, 0.15);
}

.editedby {
    position: absolute;
    top: 6px;
    left: 10px;
    background-color: #8f9;
    line-height: 60%;
    z-index:1000;
}

#debug-bucket {
    font-size: 0.7em;
}
#debug-bucket .panel-body {
    height: 64px;
    overflow: auto;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}

/* Keep the reference in the reference area and show a scrollbar when there are long urls*/
div[data-column="reference"]{
    overflow:auto;
}

.col-sm-8{
    overflow:auto;
}

/* Change the color on the filter buttons. */
.btn > .badge {
    color: #1f1f1f;
}

/* Indicate that we have pending orders. */
#orders-button > a[class~="pending-orders"] {
    background-color: #5cb85c;
    color: #fff;
}

.centered {
    float: none;
    margin: 0 auto;
}


/* START: Fix for missing sub menus in new version of bootstrap */
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
/* END: Fix for missing sub menus in new version of bootstrap */

table {
    overflow: hidden;
    border-color: #428bca;
    border-style: solid;
    border-collapse: collapse;
    border-width: medium;
}

table th, table td {
    border-color: #44464f;
    border-style: solid;
    border-collapse: collapse;
    border-width: thin;
}

tr th {
    background: #428bca;
    font-size: 1.2em;
    color: #FFFFFF;
    padding: 10px 5px;
}

tr td {
    font-size: 1.2em;
    padding: 10px 5px;
}

th {
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #eee;
}
tr:nth-child(odd) {
    background-color: #fff;
}

.filter-setting {
    padding: 10px;
}

.order-item-var-label {
    width: 110px;
    display: inline-block;
    text-align: left;
}

.content-editable {
    border-color: rgba(90,90,90,1.0);
    border-width: 1.0px;
    border-bottom-style: solid;
    padding: 3px;
}

/* Chat */
.chat-container {
    border-style: solid;
    border-width: thin;
    border-color: #bbbbbb;
    background: rgba(255,255,255,0.7);
    height: 250px;
    overflow: auto;
}

.chat-item {

}

.chat-item-name-and-date {
    color: rgb(126, 126, 126);
    float: right;
    font-size: 0.9em;
}

.chat-item-message {
    white-space: pre-line;
}

.auto-mail-notification {
    margin-bottom: 0;
}

.auto-mail-notification-body-toggle {
    color: rgb(60, 118, 61);
}

.auto-mail-notification-body-container {
    margin-bottom: 1em;
}

.hidden {
    display: none;
}